In [189]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [190]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS SECTIONS;
DROP TABLE IF EXISTS CLASSROOMS;
DROP TABLE IF EXISTS SCHEDULES;
DROP TABLE IF EXISTS INSTRUCTORS;

Done.
Done.
Done.
Done.
Done.

[]

In [191]:
%%sql
CREATE TABLE COURSES (
    CID INTEGER PRIMARY KEY,
    Program_Code TEXT NOT NULL,
    Program_Name VARCHAR NOT NULL,
    Catalog_ID VARCHAR NOT NULL,
    Course_Title VARCHAR NOT NULL,
    Description VARCHAR,
    Credits VARCHAR NOT NULL,
    Fees VARCHAR,
    Prereqs VARCHAR,
    Coreqs VARCHAR,
    Attributes VARCHAR
);

 * sqlite:///CourseData.db
Done.

[]

In [192]:
%%sql
CREATE TABLE SECTIONS (
    SID INTEGER PRIMARY KEY,
    CID INTEGER NOT NULL,
    SCID INTEGER NOT NULL,
    IID INTEGER NOT NULL,
    Term VARCHAR NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    cap INTEGER NOT NULL,
    CRN INTEGER NOT NULL,
    section VARCHAR NOT NULL,
    Title VARCHAR NOT NULL,
    FOREIGN KEY (CID) REFERENCES COURSES (CID),
    FOREIGN KEY (SCID) REFERENCES SCHEDULES (SCID),
    FOREIGN KEY (IID) REFERENCES INSTRUCTORS (IID)
);

 * sqlite:///CourseData.db
Done.

[]

In [193]:
%%sql
CREATE TABLE CLASSROOMS (
     LID INTEGER PRIMARY KEY,
     Location VARCHAR NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [194]:
%%sql
CREATE TABLE SCHEDULES (
    SCID INTEGER PRIMARY KEY,
    LID INTEGER NOT NULL,
    Day TEXT NOT NULL,
    Start VARCHAR NOT NULL,
    End VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL,
    Timecodes VARCHAR NOT NULL,
    FOREIGN KEY (LID) REFERENCES CLASSROOMS (LID)
);

 * sqlite:///CourseData.db
Done.

[]

In [195]:
%%sql
CREATE TABLE INSTRUCTORS (
    IID INTEGER PRIMARY KEY,
    Primary_instructor TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [196]:
%load_ext sql
%sql sqlite:///CourseData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseData.db'

In [197]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

In [198]:
%%sql
INSERT INTO INSTRUCTORS (Primary_instructor)
SELECT DISTINCT Primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
1105 rows affected.

[]

In [199]:
%%sql
INSERT INTO CLASSROOMS (Location)
SELECT DISTINCT Location
    FROM import_course_meetings;

 * sqlite:///CourseData.db
208 rows affected.

[]

In [200]:
%%sql
INSERT INTO SCHEDULES (LID, Day, Start, End, Meetings, Timecodes)
SELECT DISTINCT LID, Day, Start, End, Meetings, Timecodes
FROM import_course_meetings
    JOIN CLASSROOMS ON (CLASSROOMS.Location=import_course_meetings.location)
    JOIN import_courses ON (import_courses.crn=import_course_meetings.crn AND import_courses.term=import_course_meetings.term)
    Limit 10
    ;

 * sqlite:///CourseData.db
10 rows affected.

[]

In [202]:
%%sql
INSERT INTO COURSES (Program_code, Program_name, Catalog_Id, course_title, credits, prereqs, coreqs, fees, attributes, description)
SELECT DISTINCT Program_code, Program_name, Catalog_Id, course_title, credits, prereqs, coreqs, fees, attributes, description
FROM import_CourseCatalogs

 * sqlite:///CourseData.db
2221 rows affected.

[]

In [205]:
%%sql
INSERT INTO SECTIONS (SCID, CID, Term, IID, act, rem, cap, CRN, section, Title)
SELECT DISTINCT SCID, CID, Term, IID, act, rem, cap, CRN, section, Title
FROM import_courses

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such column: SCID [SQL: 'INSERT INTO SECTIONS (SCID, CID, Term, IID, act, rem, cap, CRN, section, Title)\nSELECT DISTINCT SCID, CID, Term, IID, act, rem, cap, CRN, section, Title\nFROM import_courses'] (Background on this error at: http://sqlalche.me/e/e3q8)