# Data Warehoure

#### Load Data

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

#### Drop Tables

In [9]:
%%sql

DROP TABLE IF EXISTS COURSES_DW;
DROP TABLE IF EXISTS SECTIONS_DW;
DROP TABLE IF EXISTS CLASSROOMS_DW;
DROP TABLE IF EXISTS SCHEDULES_DW;
DROP TABLE IF EXISTS INSTRUCTORS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

In [10]:
%%sql
CREATE TABLE COURSES_DW (
    CID INTEGER PRIMARY KEY,
    Catalog_ID VARCHAR NOT NULL,
    Course_Title VARCHAR NOT NULL,
    Credits VARCHAR NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [11]:
%%sql
CREATE TABLE SECTIONS_DW (
    SID INTEGER PRIMARY KEY,
    Catalog_ID VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL,
    Primary_instructor VARCHAR NOT NULL,
    Title VARCHAR NOT NULL,
    Term VARCHAR NOT NULL,
    act INTEGER NOT NULL,
    CRN INTEGER NOT NULL,
    Location VARCHAR NOT NULL,
    FOREIGN KEY (Catalog_ID) REFERENCES COURSES_DW (Catalog_ID),
    FOREIGN KEY (Meetings) REFERENCES SCHEDULES_DW (Meetings),
    FOREIGN KEY (Primary_instructor) REFERENCES INSTRUCTORS_DW (Primary_instructor)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [12]:
%%sql
CREATE TABLE CLASSROOMS_DW (
     LID INTEGER PRIMARY KEY,
     Location VARCHAR NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [13]:
%%sql
CREATE TABLE SCHEDULES_DW (
    SCID INTEGER PRIMARY KEY,
    Day TEXT NOT NULL,
    Start VARCHAR NOT NULL,
    End VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL
    );

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [14]:
%%sql
CREATE TABLE INSTRUCTORS_DW (
    IID INTEGER PRIMARY KEY,
    Primary_instructor VARCHAR NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]