## Load Data

In [24]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseDataWarehouse.db'

##### How many courses are taught in one room in one term?

##### How many professors teach each term for classes that start with “RS” (aka, Religous Studies courses?)

In [26]:
%%sql
SELECT *
FROM SECTIONS_DW
WHERE Catalog_Id LIKE "%RS%"
LIMIT 15

 * sqlite:///CourseDataWarehouse.db
Done.

[]

##### Which teachers teach course that are taught on Mondays AND start at 3:30?

##### What are the average number of courses taught per term?