In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS PROGRAMS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS SECTIONS;
DROP TABLE IF EXISTS CLASSROOMS;
DROP TABLE IF EXISTS SCHEDULES;
DROP TABLE IF EXISTS INSTRUCTORS;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
CREATE TABLE PROGRAMS (
    PID INTEGER PRIMARY KEY,
    Catalog_ID VARCHAR NOT NULL,
    Course_Title VARCHAR NOT NULL,
    Program_Name VARCHAR NOT NULL,
    Program_Code TEXT NOT NULL,
    Attributes VARCHAR
);

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
CREATE TABLE COURSES (
    CID INTEGER PRIMARY KEY,
    PID INTEGER NOT NULL,
    Description VARCHAR,
    Credits VARCHAR,
    Fees VARCHAR,
    Title VARCHAR NOT NULL,
    Prereqs VARCHAR,
    Coreqs VARCHAR,
    FOREIGN KEY (PID) REFERENCES PROGRAMS (PID)
);

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
CREATE TABLE SECTIONS (
    SID INTEGER PRIMARY KEY,
    CID INTEGER NOT NULL,
    SCID INTEGER NOT NULL,
    IID INTEGER NOT NULL,
    Term VARCHAR NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    cap INTEGER NOT NULL,
    CRN INTEGER NOT NULL,
    section VARCHAR NOT NULL,
    FOREIGN KEY (CID) REFERENCES COURSES (CID),
    FOREIGN KEY (SCID) REFERENCES SCHEDULES (SCID),
    FOREIGN KEY (IID) REFERENCES INSTRUCTORS (IID)
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
CREATE TABLE CLASSROOMS (
     LID INTEGER PRIMARY KEY,
     Location VARCHAR NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql
CREATE TABLE SCHEDULES (
    SCID TEXT PRIMARY KEY,
    LID INTEGER NOT NULL,
    Day TEXT NOT NULL,
    Start VARCHAR NOT NULL,
    End VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL,
    Timecodes VARCHAR NOT NULL,
    FOREIGN KEY (LID) REFERENCES CLASSROOMS (LID)
);

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql
CREATE TABLE INSTRUCTORS (
    IID INTEGER PRIMARY KEY,
    Primary_instructor TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%load_ext sql
%sql sqlite:///CourseData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseData.db'

In [11]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

In [12]:
%%sql
INSERT INTO PROGRAMS (Catalog_ID, Course_Title, Program_Name, Program_Code, Attributes)
    SELECT DISTINCT Catalog_ID, Course_Title, Program_Name, Program_Code, Attributes
    FROM import_CourseCatalogs;

 * sqlite:///CourseData.db
2221 rows affected.

[]

In [13]:
%%sql
INSERT INTO INSTRUCTORS (Primary_instructor)
SELECT DISTINCT Primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
1105 rows affected.

[]

In [14]:
%%sql
INSERT INTO CLASSROOMS (Location)
SELECT DISTINCT Location
    FROM import_course_meetings;

 * sqlite:///CourseData.db
208 rows affected.

[]

In [15]:
%%sql
INSERT INTO SCHEDULES (LID, Day, Start, End, Meetings, Timecodes)
SELECT DISTINCT LID, Day, Start, End, Meetings, Timecodes
FROM import_course_meetings
    JOIN CLASSROOMS ON (CLASSROOMS.Location=import_course_meetings.location)
    JOIN import_courses ON (import_courses.crn=import_course_meetings.crn)
    Limit 10
    ;

 * sqlite:///CourseData.db
10 rows affected.

[]

In [20]:
%%sql
INSERT INTO SECTIONS (CID, SCID, IID, Term, act, rem, CRN, section)
SELECT DISTINCT CID, SCID, IID, Term, act, rem, CRN, section
FROM import_courses
    JOIN COURSES ON (COURSES.Description=import_CourseCatalogs.description)
    JOIN SCHEDULES ON (SCHEDULES.Location=import_course_meetings.location)
    JOIN INSTRUCTORS ON (INSTRUCTORS.Primary_instructor=import_courses.Primary_instructor)
    JOIN import_courses ON (import_courses.term=import_course_meetings.term)
    ;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) ambiguous column name: Term [SQL: 'INSERT INTO SECTIONS (CID, SCID, IID, Term, act, rem, CRN, section)\nSELECT DISTINCT CID, SCID, IID, Term, act, rem, CRN, section\nFROM import_courses\n    JOIN COURSES ON (COURSES.Description=import_CourseCatalogs.description)\n    JOIN SCHEDULES ON (SCHEDULES.Location=import_course_meetings.location)\n    JOIN INSTRUCTORS ON (INSTRUCTORS.Primary_instructor=import_courses.Primary_instructor)\n    JOIN import_courses ON (import_courses.term=import_course_meetings.term)\n    ;'] (Background on this error at: http://sqlalche.me/e/e3q8)