In [20]:
# Load Data

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Create Tables

######  Inserting data into Instructors, Classrooms, Schedules, Courses & Sections, assigned Primary and Foreign Keys -> See ERD in Doc folder for reference

#### Drop Tables

In [22]:
%%sql

sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS SECTIONS;
DROP TABLE IF EXISTS CLASSROOMS;
DROP TABLE IF EXISTS SCHEDULES;
DROP TABLE IF EXISTS INSTRUCTORS;

Done.
Done.
Done.
Done.
Done.

[]

#### Create Courses Table

In [23]:
%%sql
CREATE TABLE COURSES (
    CID INTEGER PRIMARY KEY,
    Program_Code TEXT NOT NULL,
    Program_Name VARCHAR NOT NULL,
    Catalog_ID VARCHAR NOT NULL,
    Course_Title VARCHAR NOT NULL,
    Description VARCHAR,
    Credits VARCHAR NOT NULL,
    Fees VARCHAR,
    Prereqs VARCHAR,
    Coreqs VARCHAR,
    Attributes VARCHAR
);

 * sqlite:///CourseData.db
Done.

[]

#### Create Sections Table

In [24]:
%%sql
CREATE TABLE SECTIONS (
    SID INTEGER PRIMARY KEY,
    Catalog_ID VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL,
    Primary_instructor VARCHAR NOT NULL,
    Title VARCHAR NOT NULL,
    Term VARCHAR NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    cap INTEGER NOT NULL,
    CRN INTEGER NOT NULL,
    section VARCHAR NOT NULL,
    FOREIGN KEY (Catalog_ID) REFERENCES COURSES (Catalog_ID),
    FOREIGN KEY (Meetings) REFERENCES SCHEDULES (Meetings),
    FOREIGN KEY (Primary_instructor) REFERENCES INSTRUCTORS (Primary_instructor)
);

 * sqlite:///CourseData.db
Done.

[]

#### Create Classrooms Table

In [25]:
%%sql
CREATE TABLE CLASSROOMS (
     LID INTEGER PRIMARY KEY,
     Location VARCHAR NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

#### Create Schedules Table

In [26]:
%%sql
CREATE TABLE SCHEDULES (
    SCID INTEGER PRIMARY KEY,
    LID INTEGER NOT NULL,
    Day TEXT NOT NULL,
    Start VARCHAR NOT NULL,
    End VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL,
    Timecodes VARCHAR NOT NULL,
    FOREIGN KEY (LID) REFERENCES CLASSROOMS (LID)
);

 * sqlite:///CourseData.db
Done.

[]

#### Create Instructors Table

In [27]:
%%sql
CREATE TABLE INSTRUCTORS (
    IID INTEGER PRIMARY KEY,
    Primary_instructor VARCHAR NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

# Insert Columns

###### Inserting column data into Instructors, Classrooms, Schedules, Course & Sections using SELECT & DISTINCT

In [28]:
%load_ext sql
%sql sqlite:///CourseData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseData.db'

In [29]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

#### Insert Into Instructors

In [30]:
%%sql
INSERT INTO INSTRUCTORS (Primary_instructor)
SELECT DISTINCT Primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: import_courses [SQL: 'INSERT INTO INSTRUCTORS (Primary_instructor)\nSELECT DISTINCT Primary_instructor\nFROM import_courses;'] (Background on this error at: http://sqlalche.me/e/e3q8)

#### Insert Into Classrooms

In [31]:
%%sql
INSERT INTO CLASSROOMS (Location)
SELECT DISTINCT Location
    FROM import_course_meetings;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: import_course_meetings [SQL: 'INSERT INTO CLASSROOMS (Location)\nSELECT DISTINCT Location\n    FROM import_course_meetings;'] (Background on this error at: http://sqlalche.me/e/e3q8)

#### Insert Into Schedules

###### Example of Using JOIN

In [32]:
%%sql
INSERT INTO SCHEDULES (LID, Day, Start, End, Meetings, Timecodes)
SELECT DISTINCT LID, Day, Start, End, Meetings, Timecodes
FROM import_course_meetings
    JOIN CLASSROOMS ON (CLASSROOMS.Location=import_course_meetings.location)
    JOIN import_courses ON (import_courses.crn=import_course_meetings.crn AND import_courses.term=import_course_meetings.term)
;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: import_course_meetings [SQL: 'INSERT INTO SCHEDULES (LID, Day, Start, End, Meetings, Timecodes)\nSELECT DISTINCT LID, Day, Start, End, Meetings, Timecodes\nFROM import_course_meetings\n    JOIN CLASSROOMS ON (CLASSROOMS.Location=import_course_meetings.location)\n    JOIN import_courses ON (import_courses.crn=import_course_meetings.crn AND import_courses.term=import_course_meetings.term)\n;'] (Background on this error at: http://sqlalche.me/e/e3q8)

#### Insert Into Courses

In [33]:
%%sql
INSERT INTO COURSES (Program_code, Program_name, Catalog_Id, course_title, credits, prereqs, coreqs, fees, attributes, description)
SELECT DISTINCT Program_code, Program_name, Catalog_Id, course_title, credits, prereqs, coreqs, fees, attributes, description
FROM import_CourseCatalogs;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: import_CourseCatalogs [SQL: 'INSERT INTO COURSES (Program_code, Program_name, Catalog_Id, course_title, credits, prereqs, coreqs, fees, attributes, description)\nSELECT DISTINCT Program_code, Program_name, Catalog_Id, course_title, credits, prereqs, coreqs, fees, attributes, description\nFROM import_CourseCatalogs;'] (Background on this error at: http://sqlalche.me/e/e3q8)

#### Insert Into Sections

In [34]:
%%sql
INSERT INTO SECTIONS (Catalog_ID, Meetings, Primary_instructor, Title, Term, act, rem, cap, CRN, section)
SELECT DISTINCT Catalog_ID, Meetings, Primary_instructor, Title, Term, act, rem, cap, CRN, section
FROM import_Courses
;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: import_Courses [SQL: 'INSERT INTO SECTIONS (Catalog_ID, Meetings, Primary_instructor, Title, Term, act, rem, cap, CRN, section)\nSELECT DISTINCT Catalog_ID, Meetings, Primary_instructor, Title, Term, act, rem, cap, CRN, section\nFROM import_Courses\n;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [35]:
%%sql
SELECT COUNT (DISTINCT CID)
FROM COURSES
;

 * sqlite:///CourseData.db
Done.

[(0,)]

In [36]:
%%sql

DROP TABLE IF EXISTS import_courses;
DROP TABLE IF EXISTS import_CourseCatalogs;
DROP TABLE IF EXISTS import_course_meetings;

 * sqlite:///CourseData.db
Done.
Done.
Done.

[]

In [37]:
%%sql

VACUUM;

 * sqlite:///CourseData.db
Done.

[]