# Data Warehouse

#### Load Data

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

#### Drop Tables

In [3]:
%%sql

DROP TABLE IF EXISTS COURSES_DW;
DROP TABLE IF EXISTS SECTIONS_DW;
DROP TABLE IF EXISTS CLASSROOMS_DW;
DROP TABLE IF EXISTS SCHEDULES_DW;
DROP TABLE IF EXISTS INSTRUCTORS_DW;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

#### Create Courses_DW Table

In [4]:
%%sql
CREATE TABLE COURSES_DW (
    CID INTEGER PRIMARY KEY,
    Catalog_ID VARCHAR NOT NULL,
    Course_Title VARCHAR NOT NULL,
    Credits VARCHAR NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

#### Create Sections_DW Table

In [5]:
%%sql
CREATE TABLE SECTIONS_DW (
    SID INTEGER PRIMARY KEY,
    Catalog_ID VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL,
    Primary_instructor VARCHAR NOT NULL,
    Title VARCHAR NOT NULL,
    Term VARCHAR NOT NULL,
    act INTEGER NOT NULL,
    CRN INTEGER NOT NULL,
    FOREIGN KEY (Catalog_ID) REFERENCES COURSES_DW (Catalog_ID),
    FOREIGN KEY (Meetings) REFERENCES SCHEDULES_DW (Meetings),
    FOREIGN KEY (Primary_instructor) REFERENCES INSTRUCTORS_DW (Primary_instructor)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

#### Create Classroomw_DW

In [6]:
%%sql
CREATE TABLE CLASSROOMS_DW (
    LID INTEGER PRIMARY KEY,
    Location VARCHAR NOT NULL);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

#### Create Schedules_DW

In [7]:
%%sql
CREATE TABLE SCHEDULES_DW (
    SCID INTEGER PRIMARY KEY,
    Day TEXT NOT NULL,
    Start VARCHAR NOT NULL,
    End VARCHAR NOT NULL,
    Meetings VARCHAR NOT NULL
    );

 * sqlite:///CourseDataWarehouse.db
Done.

[]

#### Create Instructors_DW

In [8]:
%%sql
CREATE TABLE INSTRUCTORS_DW (
    IID INTEGER PRIMARY KEY,
    Primary_instructor VARCHAR NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

#### Insert into Course_DW

In [9]:
%%sql 
INSERT INTO COURSES_DW (Catalog_Id, course_title, credits)
SELECT DISTINCT Catalog_Id, course_title, credits
FROM COURSES;

 * sqlite:///CourseDataWarehouse.db
2221 rows affected.

[]

#### Insert into Classrooms_DW

In [10]:
%%sql 
INSERT INTO CLASSROOMS_DW (Location)
SELECT DISTINCT Location
FROM CLASSROOMS;

 * sqlite:///CourseDataWarehouse.db
208 rows affected.

[]

#### Insert into Instructors_DW

In [11]:
%%sql 
INSERT INTO INSTRUCTORS_DW (Primary_instructor)
SELECT DISTINCT Primary_instructor
FROM INSTRUCTORS;

 * sqlite:///CourseDataWarehouse.db
1105 rows affected.

[]

#### Insert into Schedules_DW

In [12]:
%%sql 
INSERT INTO SCHEDULES_DW (Day, Start, End, Meetings)
SELECT DISTINCT Day, Start, End, Meetings
FROM SCHEDULES;

 * sqlite:///CourseDataWarehouse.db
10 rows affected.

[]

#### Insert into Sections_DW

In [13]:
%%sql 
INSERT INTO SECTIONS_DW (Catalog_ID, Meetings, Primary_instructor, Title, Term, act, CRN)
SELECT DISTINCT Catalog_ID, Meetings, Primary_instructor, Title, Term, act, CRN
FROM SECTIONS
  ;

 * sqlite:///CourseDataWarehouse.db
15938 rows affected.

[]

#### Count the Number of Sections

In [14]:
%%sql
SELECT COUNT (Title)
From SECTIONS_DW

 * sqlite:///CourseDataWarehouse.db
Done.

[(15938,)]

#### Find all Religious Studies Courses

In [15]:
%%sql
SELECT *
FROM SECTIONS_DW
WHERE Catalog_Id LIKE "%RS%"
LIMIT 15

 * sqlite:///CourseDataWarehouse.db
Done.

[(1322, 'RS 0101A', "[{'days': 'MR', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'CNS 10'}]", 'Nancy A.  Dallavalle', 'Exploring Religion: Religion and the Critical Mind', 'Fall2014', 20, 72562),
 (1323, 'RS 0101A', "[{'days': 'MR', 'times': '0200pm-0315pm', 'dates': '09/02-12/08', 'location': 'CNS 106'}]", 'Stewart A  Moore', 'Exploring Religion: Religion and the Critical Mind', 'Fall2014', 24, 73116),
 (1324, 'RS 0101A', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'CNS 10'}]", 'Nancy A.  Dallavalle', 'Exploring Religion: Religion and the Critical Mind', 'Fall2014', 27, 72561),
 (1325, 'RS 0101A', "[{'days': 'MR', 'times': '0330pm-0445pm', 'dates': '09/02-12/08', 'location': 'CNS 6'}]", 'Stewart A  Moore', 'Exploring Religion: Religion and the Critical Mind', 'Fall2014', 23, 73117),
 (1326, 'RS 0101C', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'CNS 206'}]", 'Maureen   Dewan', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 25, 71462),
 (1327, 'RS 0101C', "[{'days': 'MWR', 'times': '0800am-0850am', 'dates': '09/02-12/08', 'location': 'CNS 10'}]", 'John T.  Slotemaker', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 26, 71463),
 (1328, 'RS 0101C', "[{'days': 'MR', 'times': '0930am-1020am', 'dates': '09/02-12/08', 'location': 'CNS 10'}, {'days': 'W', 'times': '0900am-0950am', 'dates': '09/02-12/08', 'location': 'CNS 9'}]", 'John T.  Slotemaker', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 24, 71464),
 (1329, 'RS 0101C', "[{'days': 'M', 'times': '0630pm-0900pm', 'dates': '09/02-12/08', 'location': 'CNS 9'}]", 'Jeremy L.  Sabella', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 23, 72051),
 (1330, 'RS 0101C', "[{'days': 'TF', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'CNS 304'}]", 'Lydia E. N.  Ciollo', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 25, 71707),
 (1331, 'RS 0101C', "[{'days': 'TF', 'times': '0200pm-0315pm', 'dates': '09/02-12/08', 'location': 'BNW 131'}]", 'Lydia E. N.  Ciollo', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 20, 72275),
 (1332, 'RS 0101C', "[{'days': 'MR', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DMH 347'}]", 'Martin T.  Nguyen', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 23, 72970),
 (1333, 'RS 0101C', "[{'days': 'MR', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DMH 347'}]", 'Martin T.  Nguyen', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 25, 72971),
 (1334, 'RS 0101C', "[{'days': 'MW', 'times': '0500pm-0615pm', 'dates': '09/02-12/08', 'location': 'BNW 341'}]", 'Mareike   Koertner', 'Exploring Religion: Common Questions, Traditional Response', 'Fall2014', 15, 73132),
 (1335, 'RS 0101D', "[{'days': 'TWF', 'times': '0800am-0850am', 'dates': '09/02-12/08', 'location': 'DSB 106'}]", 'Francis T.  Hannafey', 'Exploring Religion: Religion in a Comparative Key', 'Fall2014', 25, 71465),
 (1336, 'RS 0101D', "[{'days': 'TF', 'times': '0930am-1020am', 'dates': '09/02-12/08', 'location': 'DSB 106'}, {'days': 'W', 'times': '0900am-0950am', 'dates': '09/02-12/08', 'location': 'DSB 106'}]", 'Francis T.  Hannafey', 'Exploring Religion: Religion in a Comparative Key', 'Fall2014', 24, 71466)]

#### FInd all Instructors in Descending Order

In [16]:
%%sql
SELECT *
FROM INSTRUCTORS_DW
ORDER BY Primary_instructor DESC
LIMIT 10

 * sqlite:///CourseDataWarehouse.db
Done.

[(564, 'primary_instructor'),
 (247, 'Zoe   Erotopoulos'),
 (734, 'Yohuru R.  Williams'),
 (237, 'Ying   Zhang'),
 (164, 'Yefim G.  Kriger'),
 (787, 'Yasir G.  Hamed'),
 (273, 'Yasin   Ozcelik'),
 (289, 'Yael   Eliasoph'),
 (792, 'Xuan   Wang'),
 (536, 'Xiomara A.  Brea')]