## Load Data

In [1]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

##### How many courses are taught in one room in one term?

In [2]:
%%sql
SELECT *
FROM SECTIONS_DW
Limit 10
;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AC 0011', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", 'Michael P.  Coyne', 'Introduction to Financial Accounting', 'Fall2014', 31, 70384),
 (2, 'AC 0011', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", 'Michael P.  Coyne', 'Introduction to Financial Accounting', 'Fall2014', 31, 70385),
 (3, 'AC 0011', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", 'Michael P.  Coyne', 'Introduction to Financial Accounting', 'Fall2014', 31, 70382),
 (4, 'AC 0011', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", 'Rebecca I.  Bloch', 'Introduction to Financial Accounting', 'Fall2014', 29, 70291),
 (5, 'AC 0011', "[{'days': 'MR', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", 'Rebecca I.  Bloch', 'Introduction to Financial Accounting', 'Fall2014', 30, 70350),
 (6, 'AC 0011', "[{'days': 'MR', 'times': '0330pm-0445pm', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", 'Rebecca I.  Bloch', 'Introduction to Financial Accounting', 'Fall2014', 31, 70381),
 (7, 'AC 0011', "[{'days': 'MR', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", 'Paul   Caster', 'Introduction to Financial Accounting', 'Fall2014', 31, 70383),
 (8, 'AC 0011', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", 'Jo Ann   Drusbosky', 'Introduction to Financial Accounting', 'Fall2014', 32, 70391),
 (9, 'AC 0011', "[{'days': 'TF', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", 'Jo Ann   Drusbosky', 'Introduction to Financial Accounting', 'Fall2014', 33, 71105),
 (10, 'AC 0011', "[{'days': 'TF', 'times': '0200pm-0315pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", 'Jo Ann   Drusbosky', 'Introduction to Financial Accounting', 'Fall2014', 32, 71123)]